* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}
/* debug */
/* [class^="col-"] {
  border: 1px solid black;
}

[class^="container"] {
  border: 1px solid green;
} */

/* Utility */
body h2{
  font-weight: bold;
  text-align: center;
}

a {
  color: #031c4e;
}

.wrapper-50{
  width: 50%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .wrapper-50{
    width: 100%;
    margin: 0 auto;
  }
}
.wrapper-60 {
  width: 60%;
  margin: 0 auto;
}

.wrapper-70 {
  width: 70%;
  margin: 0 auto;
}

.wrapper-80 {
  width: 80%;
  margin: 0 auto;
}

.part-grey {
  background-color: #f3f5f9;
}

.part-blue {
  background: linear-gradient(to right, #0046c4, #00209b);
}
/* button */
.btn_signup {
  color: #006aff;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #006aff;
}

.btn_create_account{
  background-color: #579aff;
  border: 1px solid #579aff;
}

.btn_signup_google{
  color: rgb(103, 103, 103);
  border: none;
  background-color: white;
  box-shadow: 1px 1px 0px #888888;
}
/* Header */
/* Inizio Header-top */
.my_header_top {
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: white;
}

.my_header_top img {
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.my_header_top i {
  padding-left: 3px;
}

.my_header_top a {
  text-decoration: none;
}
/* Fine Header-top */

/* Inizio Jumbo-top*/
.my_jumbo_top {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../img/bg_jumbotron.svg');
  margin-top: 80px;
}

.my_jumbo_top .col_banner {
  padding: 20px 0;
}
.my_jumbo_top .col_banner h1 {
  font-size: 50px;
  color: white;
}
.my_jumbo_top .col_banner p {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.70);
}

.my_jumbo_top .box_signup {
  margin: 20px 0;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: white;
}

.my_jumbo_top .box_signup .text-blue {
  margin-top: 0;
  color: #006aff;
}

.my_jumbo_top form {
  padding: 0 3px;
}
.my_jumbo_top form .btn{
  width: 100%;
}

.my_jumbo_top .logo_google {
  position: relative;
  left: -30%;
  height: 10px;
  width: 10px;
}

.my_jumbo_top form a{
  color: #006aff;
}
/* FIne Jumbo-top */

/* Inizio Jumbo-bottom*/
.my_jumbo_bottom h5 {
  color: grey;
}

.my_jumbo_bottom a {
  text-decoration: none;
  color: #006aff;
}

.my_jumbo_bottom h5{
  padding: 20px 0;
}
.my_jumbo_bottom img{
  object-fit: contain;
  width: 100px;
  height: 70px;
}
.my_jumbo_bottom p {
  padding: 20px 0;
}
/* FIne Jumbo-bottom */

/* Main */
/* Inizio Deploy */
#deploy nav {
  padding-left: 3px;
  border-left: 1px solid grey;
}
#deploy nav ul{
  list-style: none;
}
#deploy nav ul li{
  padding: 5px 0;
}

#deploy .box {
  float: left;
  width: 50%;
}
/* Fine Deploy */

/* Inizio Designed */
#designed h4 {
  margin: 20px 0 30px 0;
}

#designed .col_img i {
  font-size: 20px;
  padding: 0 10px;
}
#designed .col_img i:first-child {
  color: grey;
}

#designed img {
  width: 50%;
  height: 70%;
}

#designed p{
  margin-top: 10px;
}

#designed .col_circle i {
  color: #006aff;
}
#designed .col_circle i:last-child {
  margin-bottom: 30px;
}
/* Fine Designed */

/* Inizio Features */
#features .row_down {
  margin-bottom: 50px;
}

#features h5 {
  font-weight: bold;
}

#features a {
  font-weight: bold;
  color: #006aff;
}
/* Fine Features */

/* Inizio Service */
#service .row_top {
  margin: 30px 0;
}

#service h2 {
  color: white;
}

#service .table {
  margin-bottom: 40px;
}
#service .table [class$="top"] {
  border-top: none;
}

#service .table .row {
  color: white;
}
#service .table .city {
  color: #acbce5;
}
#service .table .speed {
  color: #00d5d2;
  text-align: right;
}
/* Fine Service */

/* Inizio Development */
#development h4 {
  margin-top: 20px;
}

#development .box_team {
  display: inline-block;
  height: 230px;
  width: 300px;
  padding: 10px;
  margin: 20px 0;
  background-color: white;
}

#development img {
  width: 200px;
  height: 50px;
}

#development  .col_circle i {
  color: #006aff;
}
#development  .col_circle i:last-child {
  margin-bottom: 30px;
}
/* Fine Development */

/* Inizio Started */
#started h2 {
  color: white;
  margin: 30px 0 20px 0;
}

#started button {
  color: #006aff;
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 30px;
}
/* Fine Started */

/* Footer */
footer {
  padding-top: 30px;
  background-color: #031c4e;
}

.my_footer img {
  height: 100%;
  height: 100%;
}

.my_footer h6 {
  color: #acbce5;
}
.my_footer p {
  color: rgba(175, 175, 175, 0.48);
  margin-bottom: 15px;
}

.my_footer i {
  color: #acbce5;
  margin-right: 10px;
}

.my_footer h5 {
  color: white;
  font-weight: bold;
}

.my_footer nav li{
  list-style: none;
}
.my_footer nav a {
  text-decoration: none;
  color: rgba(175, 175, 175, 0.48);
}
/* Footer help */
footer .my_footer_help {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 20px;
  border: 1px solid black;
}
